.lightsocial_container
{
	margin-top: 22px;
	margin-bottom: 66px;
	position: relative;
}

.lightsocial_element
{
	margin-left: 4px;
	margin-right: 4px;
	display: inline;
	float: left;
}

.lightsocial_a
{
	margin: 0px;
	border: 0px;
}

.lightsocial_img
{
	margin: 0px;
	border: 0px;
}
